@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredericka+the+Great&family=Henny+Penny&display=swap');

figure {
	width: 100%;
	height: 100vh;
	background: #111;
	overflow: hidden;
	position: relative;
}